<div class="search-filter">
    <div class="search-wrapper">
        <div class="search-icon">
            <img src="../../../assets/Images/search.png" alt="search icon">
          </div>
        <input type="text" class="input-area" placeholder="Search Country...">
    </div>

    <div class="filtering">
        <span class="filter-area">
            Filter by Region 
            <img src="../../../assets/Images/expand-more.svg" alt="">
        </span>
        <div class="dropdown-menu">
            <ul>
                <li><a href="#">Africa</a></li>
                <li><a href="#">America</a></li>
                <li><a href="#">Asia</a></li>
                <li><a href="#">Europe</a></li>
                <li><a href="#">Oceania</a></li>
            </ul>
        </div>
    </div>
</div>
